Jaxws-poc/SimpleJaxwsExample/WebContent/WEB-INF/wsdl/Sample.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="Sample" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://poc.kaustuv.com/ws/service/greetings" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://poc.kaustuv.com/ws/service/greetings">
	<wsdl:types>
		<xsd:schema targetNamespace="http://poc.kaustuv.com/ws/service/greetings">
			<xsd:element name="GreetingsRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="name" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GreetingsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="message" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="GreetingsReq">
		<wsdl:part element="tns:GreetingsRequest" name="parameterIn" />
	</wsdl:message>
	<wsdl:message name="GreetingsRes">
		<wsdl:part element="tns:GreetingsResponse" name="parameterOut" />
	</wsdl:message>
	<wsdl:portType name="Greetings">
		<wsdl:operation name="Greetings">
			<wsdl:input message="tns:GreetingsReq" />
			<wsdl:output message="tns:GreetingsRes" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GreetingsSOAPBinding" type="tns:Greetings">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Greetings">
			<soap:operation soapAction="Greetings" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GreetingsService">
		<wsdl:port name="GreetingsPort" binding="tns:GreetingsSOAPBinding">
			<soap:address location="http://www.kaustuv.com/ws/service/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>