jaxws-security-example/WebContent/WEB-INF/wsdl/Sample.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="BSGLifecycleServices"
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:tns="http://poc.kaustuv.com/ws/service/greetings"
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://poc.kaustuv.com/ws/service/greetings">

    <!-- UsernameTokenWithPlainTextPassword ## Simple username token policy plain text -->
     <!--
        <wsp:Policy wsu:Id="UsernameTokenWithPlainTextPassword"
        			xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                    xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                    xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
         <wsp:ExactlyOne>
             <wsp:All>
                    <sp:SupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                     <wsp:Policy>
                            <sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient" />
                        </wsp:Policy>
                    </sp:SupportingTokens>
                </wsp:All>
            </wsp:ExactlyOne>
         </wsp:Policy>
	-->
    <!-- UsernameTokenWithTimestampNoncePasswordHash ## UsernameToken With Hash -->
    <!--
      <wsp:Policy wsu:Id="UsernameTokenWithTimestampNoncePasswordHash"
                xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
         <wsp:ExactlyOne>
             <wsp:All>
                  <sp:SupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                         <wsp:Policy>
                                 <sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                                    <wsp:Policy>
                                <sp:HashPassword/>
                         </wsp:Policy>
                         </sp:UsernameToken>
                        </wsp:Policy>
                  </sp:SupportingTokens>
            </wsp:All>
        </wsp:ExactlyOne>
      </wsp:Policy>
   -->
     <!-- SignEncryption ## Policy for first signing and then encrypting all messages, with the certificate
         included in the message from client to server but only a thumb print on messages from
         the server to the client. -->
     <!--    -->
       <wsp:Policy wsu:Id="SignEncryption"
               	   xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                   xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:AsymmetricBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                    <wsp:Policy>
                        <sp:InitiatorToken>
                            <wsp:Policy>
                                <sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                                    <wsp:Policy>
                                        <sp:RequireThumbprintReference/>
                                    </wsp:Policy>
                                </sp:X509Token>
                            </wsp:Policy>
                        </sp:InitiatorToken>
                        <sp:RecipientToken>
                            <wsp:Policy>
                                <sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
                                    <wsp:Policy>
                                        <sp:RequireThumbprintReference/>
                                    </wsp:Policy>
                                </sp:X509Token>
                            </wsp:Policy>
                        </sp:RecipientToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:TripleDesRsa15/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp/>
                        <sp:OnlySignEntireHeadersAndBody/>
                    </wsp:Policy>
                </sp:AsymmetricBinding>
                <sp:SignedParts xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                    <sp:Body/>
                </sp:SignedParts>
                <sp:EncryptedParts xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                    <sp:Body/>
                </sp:EncryptedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>

    <wsdl:types>
        <xsd:schema targetNamespace="http://poc.kaustuv.com/ws/service/greetings">
            <xsd:element name="GreetingsRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="name" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GreetingsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="message" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GreetingsReq">
        <wsdl:part element="tns:GreetingsRequest" name="parameterIn" />
    </wsdl:message>
    <wsdl:message name="GreetingsRes">
        <wsdl:part element="tns:GreetingsResponse" name="parameterOut" />
    </wsdl:message>
    <wsdl:portType name="Greetings">
        <wsdl:operation name="Greetings">
            <wsdl:input message="tns:GreetingsReq" />
            <wsdl:output message="tns:GreetingsRes" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GreetingsSOAPBinding" type="tns:Greetings">
        <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#SignEncryption" />
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="Greetings">
            <soap:operation soapAction="Greetings" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GreetingsService">
        <wsdl:port name="GreetingsPort" binding="tns:GreetingsSOAPBinding">
            <soap:address location="http://www.kaustuv.com/ws/service/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>